* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 90px;
    background-image: url(images/Mall-of-Africa-Opengraph.webp);
    background-repeat: repeat-x;
       
}

#header h3 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
}

#tabs-top {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 40px;
    background-color:#c425b6;
}

#tabs-top a {
    width: 25%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    float: left;
    display: block;
    padding-top: 10px;
    text-align: center;
    height: 40px;

}

#main {
    margin-top: 140px;
}

#main-home {
    margin-top: 150px;
    margin-bottom: 60px;
}

body {
    background: #7a7a52;
}

.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-5 {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    color: #ffffff;
    text-align: center;
    line-height: 1.8;
}

h3 {
    color: #ffffff;
    line-height: 1.8;
}

h5 {
    color: #ffffff;
}

p {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}

.flex-move {
    display: flex;
    flex-direction: column;
    align-items: center;
}




#tabs-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 40px;
    background-color: #c425b6;
    
}

#tabs-bottom a {
    float: left;
    display: block;
    width: 50%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding-top: 9px;
    
}

input {
    width: 98%;
    height: 25px;
    padding: 5px 0;
    border: 1px solid #131313;
    margin-bottom: 10px;
}

textarea {
    width: 98%;
    height: 60px;
    border: 1px solid #131313;
}

.button {
    background-color: #46e8ee;
    padding: 20px 60px;
    display: inline-block;
    margin: 20px;
    border-radius: 18px;
    
}

.form {
    text-align: center;
}

.form a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    

}











